@model UserProfileViewModel
@{
    ViewData["Title"] = $"{Model.UserInfo.Username}'s Profile";
}
<h2>@ViewData["Title"]</h2>

@if (Model.UserInfo.Username == User.Identity.Name)
{
    <a asp-controller="Manage" asp-action="Index" class="btn btn-primary">Edit Profile</a>
}
<hr />

<div class="list-group list-group-horizontal-sm" id="myList" role="tablist">
    <a href="#created-teams" class="btn btn-info btn-lg active mr-1" role="tab" data-toggle="list" aria-pressed="true">Created Teams</a>
    <a href="#joined-teams" class="btn btn-info btn-lg" role="tab" data-toggle="list" aria-pressed="true">Joined Teams</a>
</div>
<hr />

<div class="tab-content">
    <div class="tab-pane fade show active" id="created-teams" role="tabpanel">
        @if (Model.CreatedTeams.Any())
        {
            @await Html.PartialAsync("~/Views/Shared/_TeamListingPartial.cshtml", new TeamListingViewModel
            {
                Teams = Model.CreatedTeams,
                TotalTeams = Model.CreatedTeams.Count()
            })
        }
        else
        {

            <div class="row">
                <div class="col-12">
                    <h3>@Model.UserInfo.Username is not a captain of a team.</h3>
                </div>
            </div>
        }

    </div>

    <div class="tab-pane fade" id="joined-teams" role="tabpanel">
        @if (Model.JoinedTeams.Any())
        {
            @await Html.PartialAsync("~/Views/Shared/_TeamListingPartial.cshtml", new TeamListingViewModel
            {
                Teams = Model.JoinedTeams,
                TotalTeams = Model.CreatedTeams.Count()
            })
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    <h3>User @Model.UserInfo.Username is not a member of a team.</h3>
                </div>
            </div>
        }
    </div>


</div>