@model UserProfileViewModel
@{
    ViewData["Title"] = $"{Model.UserInfo.Username}'s Profile";
}
<h2>@ViewData["Title"]</h2>

@if (Model.UserInfo.Username == User.Identity.Name)
{
    <a asp-controller="Manage" asp-action="Index" class="btn btn-primary">Edit Profile</a>
}
<hr />

<div class="list-group list-group-horizontal-sm" id="myList" role="tablist">
    <a href="#created-teams" class="btn btn-info btn-lg active mr-1" role="tab" data-toggle="list" aria-pressed="true">Created Teams</a>
    <a href="#joined-teams" class="btn btn-info btn-lg" role="tab" data-toggle="list" aria-pressed="true">Joined Teams</a>
</div>
<hr />

<div class="tab-content">
    <div class="tab-pane active" id="created-teams" role="tabpanel">
        @await Html.PartialAsync("~/Views/Shared/_UserTeamsListingPartial.cshtml", Model.CreatedTeams)
    </div>


    <div class="tab-pane" id="joined-teams" role="tabpanel">

        @await Html.PartialAsync("~/Views/Shared/_UserTeamsListingPartial.cshtml", Model.JoinedTeams)
    </div>


</div>