@model TournamentsDetailsViewModel

@{
    ViewData["Title"] = Model.Tournament.Name;
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div role="tabpanel">
    @if (Model.Teams.Any())
    {
        <h2>Participating teams: </h2>
        @await Html.PartialAsync("~/Views/Shared/_TeamListingPartial.cshtml", new TeamListingViewModel
        {
            Teams = Model.Teams,
            TotalTeams = Model.Teams.Count()
        })
    }
    else
    {

        <div class="row">
            <div class="col-12">
                <h3>There are no registered teams for this tournament.</h3>
            </div>
        </div>
    }

</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <hr />
            <a class="btn btn-primary btn-block" asp-area="" asp-controller="Tournaments" asp-route-id="@Model.Tournament.Id" asp-action="Join">Join</a>
        </form>
    </div>
</div>

@if (User.IsInRole(Roles.TournamentModerator))
{
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <hr />
                <a class="btn btn-primary btn-block" asp-area="Moderator" asp-controller="Tournaments" asp-route-id="@Model.Tournament.Id" asp-action="Manage">Manage</a>
            </form>
        </div>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
