@model AddGameFormModel

@{
    ViewData["Title"] = "Add Game";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Developer"></label>
                <input asp-for="Developer" class="form-control" />
                <span asp-validation-for="Developer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameImageUrl"></label>
                <input asp-for="GameImageUrl" class="form-control" />
                <span asp-validation-for="GameImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameWebsite"></label>
                <input asp-for="GameWebsite" class="form-control" />
                <span asp-validation-for="GameWebsite" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Add Game</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
